<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>




<link rel="stylesheet" type="text/css" href="http://medical.awn.pw/awn-admin/assets/plugins/fonts-yes/css/font-awesome.css" />
 
 <link rel="stylesheet" type="text/css" href="chat.css" />
</head>




<body>

<div class="chat-popup-header">
<i class="icon-user" ></i> Profile
</div>



<div class="chat-form">

<div class="chat-form-re">
 <div class="chat-form-re-title">Name</div> 
<div class="chat-form-icon"><i class="icon-user"></i></div>
<div class="chat-form-text"><input type="text" value="Gaurav" /></div>
</div>


<div class="chat-form-re">
<div class="chat-form-re-title">Mobile</div> 
<div class="chat-form-icon"><i class="icon-mobile-phone"></i></div>
<div class="chat-form-text"><input type="text" value="9898989898" /></div>
</div>



<div class="chat-form-re">
<div class="chat-form-re-title">Email</div> 
<div class="chat-form-icon"><i class="icon-envelope"></i></div>
<div class="chat-form-text"><input type="text" value="gg@gmail.com" /></div>
</div>


<div class="chat-form-re">
<div class="chat-form-re-title">Home Address</div> 
<div class="chat-form-icon"><i class="icon-home"></i></div>
<div class="chat-form-text"><input type="text" value="Address" /></div>
</div>



<div class="chat-form-re">
<div class="chat-form-re-title">Work Address</div> 
<div class="chat-form-icon"><i class="icon-map-marker"></i></div>
<div class="chat-form-text"><input type="text" value="Work Address" /></div>
</div>


<div class="chat-form-re">
<div class="chat-form-re-title">Peer Address</div> 
<div class="chat-form-icon"><i class="icon-map-marker"></i></div>
<div class="chat-form-text"><input type="text" value="Peer Address" /></div>
</div>


<div class="clear"></div>
<div class="chat-form-btn">
<input type="submit" value="Save" />
</div>
<div class="clear"></div>

</div>

</body>
</html>
