<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>




<link rel="stylesheet" type="text/css" href="http://medical.awn.pw/awn-admin/assets/plugins/fonts-yes/css/font-awesome.css" />
 
 <link rel="stylesheet" type="text/css" href="chat.css" />
</head>




<body>

<div class="chat-popup-header">
<i class="icon-plus-sign" ></i> request
</div>



<div class="chat-form">

<div class="chat-form-re">
 <div class="chat-form-re-title">Request Title</div> 
<div class="chat-form-icon"><i class="icon-align-left"></i></div>
<div class="chat-form-text"><input type="text" value="Gaurav" /></div>
</div>


<div class="chat-form-re">
<div class="chat-form-re-title">Status</div> 
<div class="chat-form-icon"><i class="icon-align-justify"></i></div>
<div class="chat-form-text">
<select>
 <option>Hold</option>
 <option>Contact Shared</option>
 <option>Visit Set</option>
 <option>Processing</option>
 <option>Completed</option>

 </select>
</div>
</div>
















<div class="clear"></div>
<div class="chat-form-btn">
<input type="submit" value="Submit" />
</div>
<div class="clear"></div>

</div>

</body>
</html>
